@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS Example 1.1.1
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2012, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.nav-collapse,
ul.nav,
ul.nav li {
  display: inline-block;
  margin-right: 10px;
}
.navbar .brand {
  font-size: 16px;
}
.row {
  zoom: 1;
}
.row:before, .row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.span5, .span7 {
  width: auto;
  float: left;
}
td.delete {
  white-space: nowrap;
}

/* Fix for IE 6: */
* html .nav-collapse,
* html ul.nav,
* html ul.nav li {
  display: inline;
}
* html .navbar-fixed-top {
  margin-bottom: 35px;
}

/* Fix for IE 7: */
* + html .nav-collapse,
* + html ul.nav,
* + html ul.nav li {
  display: inline;
}
* + html .navbar-fixed-top {
  margin-bottom: 35px;
}
.progress{margin-bottom: 0px;}