{if $user->isLoggedIn()}
    Jmeno uzivatele
{else}
    {form loginForm}
        {label login}<span>LOGIN</span>{/label}{input login}
        {*<input n:name='type:one' />
        <input n:name='type:two' />
        <input n:name='type:oneee' />
          *}
        
    {/form}
{/if}
<hr>