{define col-country}
    <td class="{if $row->id < 100}red{/if}">
        {if $row->country}
            {$row->country->name}
        {/if}
    </td>
{/define}

{define col-email}
    <td>
        <a href="mailto:{$cell}">{$cell}</a>
    </td>
{/define}

{define col-test}
    {var $test = false}
    
    <td>
        {$test|xml}
    </td>
{/define}

{define table-open-tag}
    <table class="table">
{/define}