{extends '../@layout.latte'}

{block #title}{include #parent} > Contacts{/block}

{define #loginBox}
    [login]

{/define}

{define #item}
    <div n:class="$iterator->first ? 'first', 'item', $iterator->last ? 'last'">
        {if $fruit == 'jabko'}
            cervene
        {elseif $iterator->counter == 2}
            zelene
        {/if}
        <strong>{$fruit}</strong>
    </div>
{/define}

{block #content}
    {includeblock 'menu.latte'}
    {var $fruits = array('jabko', 'hruška', 'banán')}
    {foreach $fruits as $fruit}
        {include #item iterator => $iterator, fruit => 'jabko'}
    {/foreach}

    {var $fruits = array('jabko2', 'hruška3', 'banán4')}
    {foreach $fruits as $fruit}
        {include #item}
    {/foreach}
    {include #menu}
{/block}



