{extends false}

{var $count = 5, $xxx = 6}

{$count < 4 ? "Par kousku" : "Vic kusu"}
<hr>
{if $count < 4}
    Par kousku
{elseif $xxx == 6}
    Nase heslo je XXX
{else}
    Vic kusu    
{/if}

{var $fruits = array('jabko', 'hruška', 'banán')}
<hr>
{capture $fruitContent}
    {foreach $fruits as $fruit}<strong n:tag-if="$iterator->first">{$iterator->counter}. {$fruit}{sep},
{/sep}</strong>{/foreach}
{/capture}
<hr>    
{ifset $addres}
    {$address}
{else}
    Adresa neni znama
{/ifset}
<hr>
{$fruitContent|noescape}

<hr>

{$fruitContent|nl2br|upper|noescape}

<hr>

{$fruitContent|striptags|escape|nl2br|noescape}

<hr>

{var $value = true}

{$value|xml}
{var $value = false}
{$value|xml}

<hr>

<a href="{link Sign:in}">Prihlaseni</a>
<a n:href="Sign:in">Prihalseni s N:Href</a>

<hr>

<strong n:foreach="$fruits as $fruit">
    {$fruit}
</strong>

<hr>

{var $ok = true}

<a n:href="Sign:in" n:if="$ok">Prihalseni s N:Href</a>

<hr>

<a n:href="Sign:in" n:tag-if="$ok">Prihalseni s N:Href</a>

<hr>
<strong n:inner-foreach="$fruits as $fruit">
    {$fruit}
</strong>

<hr>
