td.has-source{
    background-color: lightgreen;
}

td.no-source{
    background-color: lightsalmon;
}

td div{
    display: inline-block;
}

tbody th{
    width: 100px;
}

label.radio{
    margin-left: 10px;
}

.form-horizontal .controls .checkbox-label {
    float: none;
    text-align: left;
}


#user-nav > ul > li > a > i, #sidebar li a i {
    background: transparent;
}

body{
    overflow-x: visible;
}