{define #loginBox}
    [LOGIN BOX]
{/define}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{block #title}Domain{/block}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {control css
        '../admin-www/css/bootstrap.min.css',
        '../admin-www/css/bootstrap-responsive.min.css',
        '../admin-www/css/colorpicker.css',
        '../admin-www/css/datepicker.css',
        '../admin-www/css/uniform.css',
        '../admin-www/css/select2.css',
        '../admin-www/css/unicorn.main.css',
        '../admin-www/css/unicorn.grey.css',
        '../admin-www/css/admin.css',
        '../admin-www/font-awesome/css/font-awesome.min.css'}
    </head>
    <body>


        <div id="header">
            <h1><a href="#">Unicorn Admin</a></h1>
        </div>
        <div id="user-nav" class="navbar navbar-inverse">
            {control login}
            <ul class="nav btn-group">
                <li class="btn btn-inverse"><a title="" href="{link Sign:out}"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>

        <div id="sidebar">
            <a href="#" class="visible-phone"><i class="icon icon-th-list"></i> Common Elements</a>
            <ul>
                <li {ifCurrent Homepage:*}class="active"{/ifCurrent}>
                    <a n:href="contacts"><i class="fa fa-user-md"></i> <span>Kontakty</span></a>
                </li>
                <li class=""><a href='/adminer' target="_blank"><i class="fa fa-user-md"></i> <span>Adminer</span></a></li>
            </ul>
            
                        
        </div>

        <div id="content">
            <div id="content-header">
                <h1>{block h1}Admin{/block}</h1>
            </div>
            <div class="container-fluid">
                            {if $flashes}
                            <div class="row-fluid">
                                <div class="span12">
                                    {foreach $flashes as $flash}
                                        {* type: alert, success, info; prazdny vypada jako warning*}
                                        <div class="alert {if $flash->type}alert-{$flash->type}{/if}">
                                            <button data-dismiss="alert" class="close">×</button>
                                            {if $flash->message instanceof \Nette\Utils\Html}
                                                {!$flash->message}
                                            {else}
                                                {$flash->message}
                                            {/if}
                                        </div>
                                    {/foreach}
                                </div>
                            </div>
                            {/if}

                            {include #content}
            </div>
        </div>

{control js
'../admin-www/js/jquery.min.js',
'../admin-www/js/jquery.ui.custom.js',
'../admin-www/js/bootstrap.min.js',
'../admin-www/js/bootstrap-colorpicker.js',
'../admin-www/js/bootstrap-datepicker.js',
'../admin-www/js/bootstrap-datepicker-cz.js',
'../admin-www/js/jquery.uniform.js',
'../admin-www/js/select2.min.js',
'../admin-www/js/unicorn.js',
'../admin-www/js/unicorn.form_common.js',
'netteForms.js',
'nette.ajax.js',
'../admin-www/js/index.js',
'nextras.datagrid.js'
}
    </body>
</html>
